h2 {
    color: black;
    text-align: center;
}
div {
    text-align: center;
    color: chocolate;
}
.homepage {
    background-image: url(/home/evans/Documents/delani-studio/images/h_img.jpg);
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: x-large;

}