h2 {
    color: lightskyblue;
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
h3 { 
    text-align: center;
}
body {
    text-align: center;
    color: black;
    font-size: small;
}

.homepage {
    background-image: url(/home/evans/Documents/delani-studio/images/h_img.jpg);
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: small;

}.services {
    background-image: url(/home/evans/Documents/delani-studio/images/s_image.jpg);
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: small;
    color: white;
}

.col-sm-3 {
    align-content: center;
    text-align: center;
    font-size: small;
    
}
.row {
    width: 100%;
    font-size: small;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.div {
    font-size: small;
}
.footer