@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
h2 {
    color: lightskyblue;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
h3 { 
    text-align: center;
    font-size: medium;
    color: lightblue;
}
body {
    text-align: center;
    color: black;
    font-size: small;
}

.homepage {
    background-image: url(/home/evans/Documents/delani-studio/images/h_img.jpg);
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: small;

}.services {
    background-image: url(/home/evans/Documents/delani-studio/images/s_image.jpg);
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: medium;
    color: white;
}

.col-sm-3 {
    align-content: center;
    text-align: center;
    font-size: small;
    max-width: 100%;
    max-height: 100%;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.contact {
    background-image: url(/home/evans/Documents/delani-studio/images/image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: small;
    object-fit: cover;
    opacity: 0.9;
}


#image1{
    width: 100%;
}

footer {
    text-align: center;
}

